.sacramento-regular {

  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
body{
    color:#40514e;
    margin:0px;
    text-align: center;
    font-family: Merriweather,serif;
}
.top-container{
    background-color: #ccecec;
}


img{
    width:125px;
    height:100px;
}
h1{
    padding: 150px;
    color:#66bfbf;
    margin-left:auto ;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 50px;
    height: 10px;
    font-family: 'Sacramento',cursive;
    font-size: 70px;

}



.top-cloud{
    padding: 40px;
    position: absolute;
    right:200px;
    width:180px;
    height:60px;
}


h2{ color:#66bfbf;
    font-family: sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color:#11999E
}

.bottom-cloud{
    position: absolute;
    left:200px;
    bottom: 300px;
    width:180px;
    height:60px;
}

.mount{
    height: 300px;
    width: 400px;
}


.pfp{
    height: 150px;
    width: 150px;
}

.py{
    height: 150px;
    width: 150px;
    float: left;
    margin-right:30px ;
}


.c{
    height: 150px;
    width: 140px;
    float: right;
    margin-left:30px ;
    
}

.cpp{
    height: 150px;
    width: 150px;
    float: left;
    margin-right:30px ;
    
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.middle-container{
    width:100px 0;
}